doctype html
html
  head
    title PGRE 
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/jquery-3.6.4.min.js')
    script(src='/javascripts/jquery.modal.min.js')  
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src='/javascripts/fileManager.js')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

  body.w3-light-grey
    if !no_bar
      .w3-bar.w3-border.w3-light-grey.w3-xlarge
          a.w3-bar-item.w3-button(href="/") 
            i.fa.fa-home 
            .w3-text.w3-medium Página Inicial
          a.w3-bar-item.w3-button(href="/cursos")
            i.fa.fa-book
            .w3.text.w3-medium Pesquisar Cursos
          a.w3-bar-item.w3-button.w3-right(href="/loggout")
            i.fa.fa-sign-out
            .w3.text.w3-medium Terminar sessão
          a.w3-bar-item.w3-button.w3-right(href="/profile")
            i.fa.fa-user
            .w3.text.w3-medium Perfil
          .w3-bar-item.w3-button.w3-right.w3-dropdown-click(onclick="dropdown('notificacoes')") 
            if nao_lidas > 0
              i.fa.fa-bell.w3-text-red
              .w3.text.w3-medium.w3-text-red Notificações
            else 
              i.fa.fa-bell
              .w3.text.w3-medium Notificações
            div#notificacoes.w3-dropdown-content.w3-bar-block.w3-border(style="width:500px; position: absolute; right: 16px; font-size: 15px;")
              - console.log(noticia)
              each not in noticia.notificacao 
                if not.lida == false
                 .w3-container(onmouseenter=`markAsRead('${noticia.username}','${not._id}','${noticia.porta}')`)
                    .w3-panel.w3-bottombar.w3-border-red.w3-border.w3-display-container(id=`${not._id}`)
                        p   
                            b Descrição: 
                            | #{not.descricao}
                        if not.link
                          p.w3-center
                              a.w3-button.w3-grey.w3-round(href=not.link) Mostrar
              p.w3-center
                a.w3-button.w3-grey.w3-round(href=`/notificacoes`) Mostrar todas           

    block content
