doctype html
html
  head
    title PGRE 
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/jquery-3.6.4.min.js')
    script(src='/javascripts/jquery.modal.min.js')  
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src='/javascripts/fileManager.js')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

  body.w3-light-grey
    if !no_bar
      .w3-bar.w3-border.w3-light-grey.w3-xlarge
          a.w3-bar-item.w3-button(href="/") 
            i.fa.fa-home 
            .w3-text.w3-medium Página Inicial
          if noticia && noticia.level != 'admin'
            a.w3-bar-item.w3-button(href="/cursos")
              i.fa.fa-book
              .w3.text.w3-medium Pesquisar Cursos
          a.w3-bar-item.w3-button.w3-right(href="/loggout")
            i.fa.fa-sign-out
            .w3.text.w3-medium Terminar sessão
          a.w3-bar-item.w3-button.w3-right(href="/profile")
            i.fa.fa-user
            .w3.text.w3-medium Perfil
          .w3-bar-item.w3-button.w3-right.w3-dropdown-click(onclick="dropdown('notificacoes')") 
            if nao_lidas > 0
              i.fa.fa-bell.w3-text-red
              .w3.text.w3-medium.w3-text-red Notificações
            else 
              i.fa.fa-bell
              .w3.text.w3-medium Notificações
          div#notificacoes.w3-dropdown-content.w3-bar-block.w3-border(style="width:500px; position: absolute; right: 16px;top: 75px; font-size: 15px;")
            button.w3-button.w3-half.w3-border.w3-border-red.Button-Tab(id="button_not",onclick="openTab('Notificacoes_Tab','button_not',false)") Notificações
            button.w3-button.w3-half.w3-border.Button-Tab(id="button_pedidos",onclick="openTab('Pedidos','button_pedidos',false)") Pedidos
            if noticia
              .w3-container.Tab(id="Pedidos", style="display: none;")
                each pedido in noticia.pedido 
                  if pedido.respondido == false 
                    .w3-container
                      .w3-panel.w3-bottombar.w3-border-red.w3-border.w3-display-container
                          p   
                            b Descrição: 
                            | #{pedido.info}
                          p   
                            b Pedido de: 
                            | #{pedido.feitoPor}
                          p.w3-center
                            form(action=`/cursos/${pedido.curso}/entrar/cancelar` method="POST" style="display: inline-block;")
                              input(type="hidden" name="_id" value=pedido._id)
                              input(type="hidden" name="feitoPor" value=pedido.feitoPor)
                              button.w3-button.w3-red.w3-round.w3-margin(type="submit") Cancelar
                            form(action=`/cursos/${pedido.curso}/entrar/confirmar` method="POST" style="display: inline-block;")
                              input(type="hidden" name="_id" value=pedido._id)
                              input(type="hidden" name="feitoPor" value=pedido.feitoPor)
                              button.w3-button.w3-green.w3-round.w3-margin(type="submit") Aceitar
              .w3-container.Tab(id="Notificacoes_Tab")
                each not in noticia.notificacao 
                  if not.lida == false
                   .w3-container(onmouseenter=`markAsRead('${noticia.username}','${not._id}','${noticia.porta}')`)
                      .w3-panel.w3-bottombar.w3-border-red.w3-border.w3-display-container(id=`${not._id}`)
                          p   
                              b Descrição: 
                              | #{not.descricao}
                          if not.link
                            p.w3-center
                                a.w3-button.w3-grey.w3-round(href=not.link) Mostrar
              p.w3-center
                a.w3-button.w3-grey.w3-round(href=`/noticias`) Mostrar todas           

    block content

