extends layout

block content
	.w3-container.w3-content
	.w3-card-4
		header.w3-indigo
			h2= titulo
		.w3-container
			table.w3-table.w3-bordered
				tr
					th Nome
					th Descrição
					th Visibilidade
				each curso in cursos
					tr(onclick=`window.location.href='cursos/${curso._id}'`)
						td= curso.nome
						td= curso.descricao
						td 
							if curso.visibilidade == 'privado'
								i.w3-xlarge.fa.fa-lock
							else
								i.w3-xlarge.fa.fa-unlock 
		footer.w3-indigo
			address Generated in RPCW :: #{data}