extends layout

block content
    .w3-container.w3-content
    .w3-card-4
        header.w3-indigo
            h2.w3-margin-left Notificações
        .w3-container
            each notificacao in noticia.notificacao
                if notificacao.lida 
                    .w3-container
                        .w3-panel.w3-bottombar.w3-border-green.w3-border.w3-display-container 
                            p   
                                b Descrição: 
                                | #{notificacao.descricao}
                            if notificacao.link
                                p.w3-center
                                    a.w3-button.w3-grey.w3-round(href=notificacao.link) Mostrar
                else 
                    .w3-container(onmouseenter=`markAsRead('${noticia.username}','_${notificacao._id}','${noticia.porta}')`)
                        .w3-panel.w3-bottombar.w3-border-red.w3-border.w3-display-container(id=`_${notificacao._id}`)
                            p   
                                b Descrição: 
                                | #{notificacao.descricao}

                            if notificacao.link
                                p.w3-center
                                    a.w3-button.w3-grey.w3-round(href=notificacao.link) Mostrar 
                    