extends layout

block content
    .w3-container.w3-content
    .w3-card-4
        header.w3-indigo
            h2.w3-margin-left(style="display: inline")=titulo
                    span
                        a.w3-circle.w3-button(href=`/cursos/form`)
                            i.fa.fa-plus
            .w3-button.w3-right(onclick="openEditModal('filtros')") Filtros
            .modal.w3-display-middle(id="filtros" style="max-width: 1000px; margin: 15vh auto; position: fixed;")
                span.w3-button.w3-red.w3-xlarge.w3-display-topright(onclick="closeEditModal('filtros')")
                    i.w3-xlarge.fa.fa-times
                .w3-card-4.w3-content.w3-padding.w3-margin-top.w3-white
                    h2.w3-center Aplicar Filtros
                    //- form.w3-form(action='/cursos', method='POST')
                    .w3-container
                        div
                            h4
                                b Visibilidade
                            input.w3-radio(type='radio' name='visibilidade' value='todos' checked="checked" onchange='applyFiltersMaintainNextRow()')
                            label(for="todos_vis") Todos
                            p
                            input.w3-radio(type='radio', name='visibilidade' value='publico' onchange='applyFiltersMaintainNextRow()')
                            label(for="publico") Público
                            p
                            input.w3-radio(type='radio', name='visibilidade' value='privado' onchange='applyFiltersMaintainNextRow()')
                            label(for="privado") Privado
                            p 
                            input.w3-radio(type='radio', name='visibilidade' value='convite' onchange='applyFiltersMaintainNextRow()')
                            label(for="convite") Convite        
                            div
            input#searchPagInicial.w3-right.w3-margin(type="text", onkeyup="searchTable('searchPagInicial','meusCursos')", placeholder="Pesquisar", title="Inserir nome ou tag")

        .w3-container
            table#meusCursos.w3-table.w3-bordered
                tr
                    th Nome
                    th Descrição
                    th Visibilidade
                    th Últimos anúncios
                each curso in cursos
                    tr
                        td 
                            a(href=`/cursos/${curso._id}`)
                                b= curso.nome
                        td= curso.descricao
                        td 
                            if curso.visibilidade == 'privado'
                                i.w3-xlarge.fa.fa-lock
                            else
                                i.w3-xlarge.fa.fa-unlock 
                        td 
                            button.w3-button.w3-grey.w3-card-4(onclick=`toggleAccordion('${curso._id}')`) Mostrar         
                    
                    tr
                        td(colspan=4)
                            .w3.accordion
                                .w3-accordion-content.w3-hide(id="accordion"+curso._id)
                                    each post in curso.posts       
                                        .w3-panel.w3-light-grey.w3-bottombar.w3-border-grey.w3-border.w3-display-container 
                                            p 
                                                b Título: 
                                                | #{post.title}
                                            p 
                                                b Descrição: 
                                                | #{post.description}
                                            p 
                                                b Publicado por: 
                                                | #{post.publishedBy}
                
        footer.w3-indigo
            address Generated in RPCW :: #{data}